@import url(https://fonts.googleapis.com/css?family=Poppins);
body{
    font-family: 'Poppins';
}
header > .topbar {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.logo{
    width: 50px;

}
.search-icon{
    width: 20px;
    margin-right: 10px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: initial;
    padding: 10px;
}
form{
    display: flex;
    align-items: center;
    width: 1600px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 4px 0 0 4px;
    flex: 1;
}
.search-box input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
}
.search-button {
background: #e84d4d;
color: white;
border: none;
padding: 12px 25px;
font-size: 16px;
border-radius: 0 4px 4px 0;
cursor: pointer;
}
.search-button:hover {
background: #cc3c3c;
}
.joinlogin{
    width: 200px;
    height: 500px;
}
#joinid{
    background: whitesmoke;
    color: black;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    margin-bottom: 20px;
}
#joinid:hover {
    background: #d9d9d9;
} 

#loginid{
    background: whitesmoke;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}
#loginid:hover {
    background: #d9d9d9;
} 

.section1{
    height: 600px;
    background-color: rgba(232,217,217,0.3);
    margin-bottom: 50px;
    padding-bottom: 50px;
}

h1{
    font-size: 80px;
    text-align: center;
}
.article1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100pxpx;
    margin: 0 auto;
    font-size: 16px;
}
.plans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
#join{
    background: whitesmoke;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}
#join:hover {
    background: #d9d9d9;
}
#see-plans{
    background-color: #FB3B49;
    margin-bottom: 25px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    box-shadow: 8px 8px 0px rgba(251,59,73,0.2);
}
#see-plans:hover {
    background-color: #c51e26;
    box-shadow: 8px 8px 0px rgba(83, 16, 19, 0.2);
}

.section2{
    margin-top: 50px;
    height: 500px;
    width: 2000px;
    background-color: rgba(232,217,217,.3);
}
#hexagon{

    transform: translateX(800px);
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

h2{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    width: 800px;
    font-style: italic;
  
}
.article2{    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-size: 16px;
}

.section3{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin-left: 100px;
    margin-right: 100px;
}

.configuration > h3{
    color: red;
}

.management > h3{
    color: red;
}

.features > h3{
    color: red;
}

.audit > h3{
    color: red;
}

.Org{
    transform: translateX(650px);
    background-color: black;
    text-align: center;
    margin-bottom: 25px;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    box-shadow: 8px 8px 0px rgba(255,255,255,0.2);
}